In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.DataFrame(np.arange(16).reshape(4,4),columns=['one','two','three','four']);df

   one  two  three  four
0    0    1      2     3
1    4    5      6     7
2    8    9     10    11
3   12   13     14    15

In [4]:
df['one'].apply(np.sum)

0     0
1     4
2     8
3    12
Name: one, dtype: int64

In [5]:
di={'a':'Hy','b':0}

In [6]:
dff=pd.DataFrame(di,index=df.index);dff

    a  b
0  Hy  0
1  Hy  0
2  Hy  0
3  Hy  0

In [7]:
import sys

In [8]:
sys.path.append(r'F:\PycharmProject\DesignWorkTask\sjqy2midas')

In [9]:
import sjqy2midas

In [10]:
model=sjqy2midas.Model(r'E:\设计卷册\PALU3\Palu虹吸井世纪旗云计算\palu虹吸井.s2k',dele=True)

In [11]:
fullEle=model.fullEle

In [12]:
# cond2=np.square(fullEle['x1'])+np.square(fullEle['z1'])<36

In [13]:
def distance(y,z):
    return z**2+(y-4)**2

In [14]:
cond2a1=distance(fullEle['y1'],fullEle['z1'])<9
cond2a2=distance(fullEle['y2'],fullEle['z2'])<9
cond2a3=distance(fullEle['y3'],fullEle['z3'])<9
cond2a4=distance(fullEle['y4'],fullEle['z4'])<9
cond2a=[cond2a1,cond2a2,cond2a3,cond2a4]

In [15]:
a=model.SelectEle(x=[0],otherCond=cond2a)

1
5

In [16]:
# a=model.SelectEle(x=[0],y=[None,7],z=[-3,3])

In [17]:
ff=lambda x:-10*x+42

In [18]:
model.Press(a,ff,'LZ','hydropress.csv')

In [19]:
a.head(50)

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
191,PLATE,1,1,203,202,254,263,0.0,3.5000,-2.42500,0.0,3.5000,-2.86875,0.0,4.0,-2.86875,0.0,4.0,-2.42500
728,PLATE,1,1,800,793,203,204,0.0,3.0625,-1.98125,0.0,3.0625,-2.42500,0.0,3.5,-2.42500,0.0,3.5,-1.98125
192,PLATE,1,1,263,254,255,264,0.0,4.0000,-2.42500,0.0,4.0000,-2.86875,0.0,4.5,-2.86875,0.0,4.5,-2.42500
201,PLATE,1,1,204,203,263,272,0.0,3.5000,-1.98125,0.0,3.5000,-2.42500,0.0,4.0,-2.42500,0.0,4.0,-1.98125
736,PLATE,1,1,807,800,204,205,0.0,3.0625,-1.53750,0.0,3.0625,-1.98125,0.0,3.5,-1.98125,0.0,3.5,-1.53750
202,PLATE,1,1,272,263,264,273,0.0,4.0000,-1.98125,0.0,4.0000,-2.42500,0.0,4.5,-2.42500,0.0,4.5,-1.98125
203,PLATE,1,1,273,264,265,274,0.0,4.5000,-1.98125,0.0,4.5000,-2.42500,0.0,5.0,-2.42500,0.0,5.0,-1.98125
204,PLATE,1,1,274,265,266,275,0.0,5.0000,-1.98125,0.0,5.0000,-2.42500,0.0,5.5,-2.42500,0.0,5.5,-1.98125
211,PLATE,1,1,205,204,272,281,0.0,3.5000,-1.53750,0.0,3.5000,-1.98125,0.0,4.0,-1.98125,0.0,4.0,-1.53750
744,PLATE,1,1,814,807,205,206,0.0,3.0625,-1.09375,0.0,3.0625,-1.53750,0.0,3.5,-1.53750,0.0,3.5,-1.09375
212,PLATE,1,1,281,272,273,282,0.0,4.0000,-1.53750,0.0,4.0000,-1.98125,0.0,4.5,-1.98125,0.0,4.5,-1.53750
213,PLATE,1,1,282,273,274,283,0.0,4.5000,-1.53750,0.0,4.5000,-1.98125,0.0,5.0,-1.98125,0.0,5.0,-1.53750
214,PLATE,1,1,283,274,275,284,0.0,5.0000,-1.53750,0.0,5.0000,-1.98125,0.0,5.5,-1.98125,0.0,5.5,-1.53750
215,PLATE,1,1,284,275,276,285,0.0,5.5000,-1.53750,0.0,5.5000,-1.98125,0.0,6.0,-1.98125,0.0,6.0,-1.53750
221,PLATE,1,1,206,205,281,290,0.0,3.5000,-1.09375,0.0,3.5000,-1.53750,0.0,4.0,-1.53750,0.0,4.0,-1.09375
752,PLATE,1,1,821,814,206,207,0.0,3.0625,-0.65000,0.0,3.0625,-1.09375,0.0,3.5,-1.09375,0.0,3.5,-0.65000
222,PLATE,1,1,290,281,282,291,0.0,4.0000,-1.09375,0.0,4.0000,-1.53750,0.0,4.5,-1.53750,0.0,4.5,-1.09375
223,PLATE,1,1,291,282,283,292,0.0,4.5000,-1.09375,0.0,4.5000,-1.53750,0.0,5.0,-1.53750,0.0,5.0,-1.09375
224,PLATE,1,1,292,283,284,293,0.0,5.0000,-1.09375,0.0,5.0000,-1.53750,0.0,5.5,-1.53750,0.0,5.5,-1.09375
225,PLATE,1,1,293,284,285,294,0.0,5.5000,-1.09375,0.0,5.5000,-1.53750,0.0,6.0,-1.53750,0.0,6.0,-1.09375
226,PLATE,1,1,294,285,286,295,0.0,6.0000,-1.09375,0.0,6.0000,-1.53750,0.0,6.5,-1.53750,0.0,6.5,-1.09375
231,PLATE,1,1,207,206,290,299,0.0,3.5000,-0.65000,0.0,3.5000,-1.09375,0.0,4.0,-1.09375,0.0,4.0,-0.65000
760,PLATE,1,1,828,821,207,208,0.0,3.0625,-0.20625,0.0,3.0625,-0.65000,0.0,3.5,-0.65000,0.0,3.5,-0.20625
232,PLATE,1,1,299,290,291,300,0.0,4.0000,-0.65000,0.0,4.0000,-1.09375,0.0,4.5,-1.09375,0.0,4.5,-0.65000
233,PLATE,1,1,300,291,292,301,0.0,4.5000,-0.65000,0.0,4.5000,-1.09375,0.0,5.0,-1.09375,0.0,5.0,-0.65000
234,PLATE,1,1,301,292,293,302,0.0,5.0000,-0.65000,0.0,5.0000,-1.09375,0.0,5.5,-1.09375,0.0,5.5,-0.65000
235,PLATE,1,1,302,293,294,303,0.0,5.5000,-0.65000,0.0,5.5000,-1.09375,0.0,6.0,-1.09375,0.0,6.0,-0.65000
236,PLATE,1,1,303,294,295,304,0.0,6.0000,-0.65000,0.0,6.0000,-1.09375,0.0,6.5,-1.09375,0.0,6.5,-0.65000
241,PLATE,1,1,208,207,299,308,0.0,3.5000,-0.20625,0.0,3.5000,-0.65000,0.0,4.0,-0.65000,0.0,4.0,-0.20625
768,PLATE,1,1,835,828,208,209,0.0,3.0625,0.23750,0.0,3.0625,-0.20625,0.0,3.5,-0.20625,0.0,3.5,0.23750
242,PLATE,1,1,308,299,300,309,0.0,4.0000,-0.20625,0.0,4.0000,-0.65000,0.0,4.5,-0.65000,0.0,4.5,-0.20625
243,PLATE,1,1,309,300,301,310,0.0,4.5000,-0.20625,0.0,4.5000,-0.65000,0.0,5.0,-0.65000,0.0,5.0,-0.20625
244,PLATE,1,1,310,301,302,311,0.0,5.0000,-0.20625,0.0,5.0000,-0.65000,0.0,5.5,-0.65000,0.0,5.5,-0.20625
245,PLATE,1,1,311,302,303,312,0.0,5.5000,-0.20625,0.0,5.5000,-0.65000,0.0,6.0,-0.65000,0.0,6.0,-0.20625
246,PLATE,1,1,312,303,304,313,0.0,6.0000,-0.20625,0.0,6.0000,-0.65000,0.0,6.5,-0.65000,0.0,6.5,-0.20625
251,PLATE,1,1,209,208,308,317,0.0,3.5000,0.23750,0.0,3.5000,-0.20625,0.0,4.0,-0.20625,0.0,4.0,0.23750
776,PLATE,1,1,842,835,209,210,0.0,3.0625,0.68125,0.0,3.0625,0.23750,0.0,3.5,0.23750,0.0,3.5,0.68125
252,PLATE,1,1,317,308,309,318,0.0,4.0000,0.23750,0.0,4.0000,-0.20625,0.0,4.5,-0.20625,0.0,4.5,0.23750
253,PLATE,1,1,318,309,310,319,0.0,4.5000,0.23750,0.0,4.5000,-0.20625,0.0,5.0,-0.20625,0.0,5.0,0.23750
254,PLATE,1,1,319,310,311,320,0.0,5.0000,0.23750,0.0,5.0000,-0.20625,0.0,5.5,-0.20625,0.0,5.5,0.23750
255,PLATE,1,1,320,311,312,321,0.0,5.5000,0.23750,0.0,5.5000,-0.20625,0.0,6.0,-0.20625,0.0,6.0,0.23750
256,PLATE,1,1,321,312,313,322,0.0,6.0000,0.23750,0.0,6.0000,-0.20625,0.0,6.5,-0.20625,0.0,6.5,0.23750
261,PLATE,1,1,210,209,317,326,0.0,3.5000,0.68125,0.0,3.5000,0.23750,0.0,4.0,0.23750,0.0,4.0,0.68125
784,PLATE,1,1,849,842,210,211,0.0,3.0625,1.12500,0.0,3.0625,0.68125,0.0,3.5,0.68125,0.0,3.5,1.12500
262,PLATE,1,1,326,317,318,327,0.0,4.0000,0.68125,0.0,4.0000,0.23750,0.0,4.5,0.23750,0.0,4.5,0.68125
263,PLATE,1,1,327,318,319,328,0.0,4.5000,0.68125,0.0,4.5000,0.23750,0.0,5.0,0.23750,0.0,5.0,0.68125
264,PLATE,1,1,328,319,320,329,0.0,5.0000,0.68125,0.0,5.0000,0.23750,0.0,5.5,0.23750,0.0,5.5,0.68125
265,PLATE,1,1,329,320,321,330,0.0,5.5000,0.68125,0.0,5.5000,0.23750,0.0,6.0,0.23750,0.0,6.0,0.68125
266,PLATE,1,1,330,321,322,331,0.0,6.0000,0.68125,0.0,6.0000,0.23750,0.0,6.5,0.23750,0.0,6.5,0.68125
271,PLATE,1,1,211,210,326,335,0.0,3.5000,1.12500,0.0,3.5000,0.68125,0.0,4.0,0.68125,0.0,4.0,1.12500

In [20]:
dff

    a  b
0  Hy  0
1  Hy  0
2  Hy  0
3  Hy  0

In [21]:
dff[['b','a']]

   b   a
0  0  Hy
1  0  Hy
2  0  Hy
3  0  Hy

In [25]:
df1=dff.iloc[0:2]

In [26]:
df1

    a  b
0  Hy  0
1  Hy  0

In [28]:
help(pd.DataFrame.drop_duplicates)

Help on function drop_duplicates in module pandas.core.frame:

drop_duplicates(self, subset=None, keep='first', inplace=False)
    Return DataFrame with duplicate rows removed, optionally only
    considering certain columns

    Parameters
    ----------
    subset : column label or sequence of labels, optional
        Only consider certain columns for identifying duplicates, by
        default use all of the columns
    keep : {'first', 'last', False}, default 'first'
        - ``first`` : Drop duplicates except for the first occurrence.
        - ``last`` : Drop duplicates except for the last occurrence.
        - False : Drop all duplicates.
    take_last : deprecated
    inplace : boolean, default False
        Whether to drop duplicates in place or to return a copy

    Returns
    -------
    deduplicated : DataFrame

In [29]:
dff.append(df1)

    a  b
0  Hy  0
1  Hy  0
2  Hy  0
3  Hy  0
0  Hy  0
1  Hy  0

In [31]:
data_a={'state':[1,1,2],'pop':['a','b','c']}

In [32]:
data_b={'state':[1,2,3],'pop':['b','c','d']}

In [33]:
a=pd.DataFrame(data_a)

In [34]:
b=pd.DataFrame(data_b)

In [35]:
a

  pop  state
0   a      1
1   b      1
2   c      2

In [36]:
b

  pop  state
0   b      1
1   c      2
2   d      3

In [40]:
a=a.append(b)

In [45]:
a=a.append(b)

In [46]:
a

  pop  state
0   a      1
1   b      1
2   c      2
0   b      1
1   c      2
2   d      3
0   b      1
1   c      2
2   d      3

In [48]:
a=pd.DataFrame(np.arange(12).reshape(6,2))

In [49]:
a

    0   1
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9
5  10  11

In [50]:
b=a.loc[0:2]

In [51]:
b

   0  1
0  0  1
1  2  3
2  4  5

In [53]:
a.append(b).drop_duplicates(keep=False)

    0   1
3   6   7
4   8   9
5  10  11